*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

/*-------------------- REMOVE SCROLL CLASS -------------------- */


.scroll{
    overflow-y: hidden;
}


/*-------------------- NAV OPACITY BACKGROUND -------------------- */


.active{
    background-color: black;
    transition: background .5s ease;
}


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

/*-------------------- HAMBURGUER NAV --------------------*/

.hamburguer-top{
    transform: rotate(45deg) translateY(0px) translateX(-7px);
    transition: all .5s;
}

.hamburguer-mid{
    display: none;
    transition: all .5s;
}

.hamburguer-bottom{
    transform: rotate(-45deg) translateY(-20px) translateX(11px);
    transition: all .5s;

}

/* -------------------- BACKGROUND ANIMATE -------------------- */

.background {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 44;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #afffff;
    top: 54%;
    left: 16%;
    animation-duration: 14s;
    animation-delay: -21s;
    transform-origin: 17vw 18vh;
    box-shadow: 40vmin 0 5.307805331116949vmin currentColor;
}
.background span:nth-child(1) {
    color: #afffff;
    top: 9%;
    left: 33%;
    animation-duration: 53s;
    animation-delay: -9s;
    transform-origin: 10vw -21vh;
    box-shadow: -40vmin 0 5.67421329940912vmin currentColor;
}
.background span:nth-child(2) {
    color: #afffff;
    top: 92%;
    left: 39%;
    animation-duration: 18s;
    animation-delay: -28s;
    transform-origin: 7vw -5vh;
    box-shadow: 40vmin 0 5.501056465995103vmin currentColor;
}
.background span:nth-child(3) {
    color: #afffff;
    top: 8%;
    left: 49%;
    animation-duration: 49s;
    animation-delay: -28s;
    transform-origin: -9vw -8vh;
    box-shadow: 40vmin 0 5.669952835049589vmin currentColor;
}
.background span:nth-child(4) {
    color: #afffff;
    top: 45%;
    left: 29%;
    animation-duration: 63s;
    animation-delay: -60s;
    transform-origin: 14vw -5vh;
    box-shadow: -40vmin 0 5.489608151536867vmin currentColor;
}
.background span:nth-child(5) {
    color: #afffff;
    top: 46%;
    left: 97%;
    animation-duration: 44s;
    animation-delay: -10s;
    transform-origin: 5vw -18vh;
    box-shadow: 40vmin 0 5.543341756911743vmin currentColor;
}
.background span:nth-child(6) {
    color: #afffff;
    top: 40%;
    left: 3%;
    animation-duration: 44s;
    animation-delay: -10s;
    transform-origin: 15vw 3vh;
    box-shadow: -40vmin 0 5.700969614966407vmin currentColor;
}
.background span:nth-child(7) {
    color: #afffff;
    top: 33%;
    left: 68%;
    animation-duration: 36s;
    animation-delay: -58s;
    transform-origin: 16vw -7vh;
    box-shadow: 40vmin 0 5.868177453338677vmin currentColor;
}
.background span:nth-child(8) {
    color: #afffff;
    top: 57%;
    left: 78%;
    animation-duration: 33s;
    animation-delay: -33s;
    transform-origin: 11vw 21vh;
    box-shadow: -40vmin 0 5.611931061737698vmin currentColor;
}
.background span:nth-child(9) {
    color: #afffff;
    top: 82%;
    left: 89%;
    animation-duration: 51s;
    animation-delay: -35s;
    transform-origin: 3vw 25vh;
    box-shadow: -40vmin 0 5.688340518094952vmin currentColor;
}
.background span:nth-child(10) {
    color: #afffff;
    top: 13%;
    left: 38%;
    animation-duration: 55s;
    animation-delay: -52s;
    transform-origin: 20vw -10vh;
    box-shadow: -40vmin 0 5.472206571687944vmin currentColor;
}
.background span:nth-child(11) {
    color: #afffff;
    top: 19%;
    left: 27%;
    animation-duration: 65s;
    animation-delay: -23s;
    transform-origin: 25vw 15vh;
    box-shadow: -40vmin 0 5.596965751811356vmin currentColor;
}
.background span:nth-child(12) {
    color: #afffff;
    top: 100%;
    left: 64%;
    animation-duration: 30s;
    animation-delay: -57s;
    transform-origin: -11vw 13vh;
    box-shadow: -40vmin 0 5.332221843430875vmin currentColor;
}
.background span:nth-child(13) {
    color: #afffff;
    top: 51%;
    left: 90%;
    animation-duration: 54s;
    animation-delay: -29s;
    transform-origin: -17vw -14vh;
    box-shadow: 40vmin 0 5.139373208213772vmin currentColor;
}
.background span:nth-child(14) {
    color: #afffff;
    top: 32%;
    left: 77%;
    animation-duration: 18s;
    animation-delay: -24s;
    transform-origin: -20vw 19vh;
    box-shadow: -40vmin 0 5.064325432645852vmin currentColor;
}
.background span:nth-child(15) {
    color: #afffff;
    top: 19%;
    left: 13%;
    animation-duration: 29s;
    animation-delay: -45s;
    transform-origin: -14vw 21vh;
    box-shadow: 40vmin 0 5.791527043608538vmin currentColor;
}
.background span:nth-child(16) {
    color: #afffff;
    top: 46%;
    left: 7%;
    animation-duration: 37s;
    animation-delay: -36s;
    transform-origin: -14vw -11vh;
    box-shadow: 40vmin 0 5.362580672156369vmin currentColor;
}
.background span:nth-child(17) {
    color: #afffff;
    top: 75%;
    left: 79%;
    animation-duration: 14s;
    animation-delay: -7s;
    transform-origin: 23vw 14vh;
    box-shadow: 40vmin 0 5.294552263919255vmin currentColor;
}
.background span:nth-child(18) {
    color: #afffff;
    top: 32%;
    left: 48%;
    animation-duration: 40s;
    animation-delay: -45s;
    transform-origin: -21vw 16vh;
    box-shadow: -40vmin 0 5.642932224250608vmin currentColor;
}
.background span:nth-child(19) {
    color: #afffff;
    top: 80%;
    left: 78%;
    animation-duration: 65s;
    animation-delay: -60s;
    transform-origin: -20vw 25vh;
    box-shadow: -40vmin 0 5.465125871849569vmin currentColor;
}

.card-styles{
    min-height: 100px;
}


/*-------------------- TEXT SHADOW EFFECT -------------------- */


.text-shadow{
    text-shadow: 0px 4px 0px #10c0cd;
}

/*-------------------- CONTACT ITEMS STYLES -------------------- */

.contact-whatsapp{
    min-width: 100px;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    border-radius: 100px;
    background-color: #0a0;
    transition: min-width .3s ease;
    position: relative;
}

.contact-github{
    min-width: 100px;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    border-radius: 100px;
    background-color: black;
    transition: min-width .3s ease;
    position: relative;
}

.contact-linkedin{
    min-width: 100px;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    transition: min-width .3s ease;
    position: relative;
}

.contact-gmail{
    min-width: 100px;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    border-radius: 100px;
    background-color: red;
    transition: min-width .3s ease;
    position: relative;
}

.contact-active{
    min-width: 250px;
    transition: min-width .3s ease;
}

.contact-active__gmail{
    min-width: 310px;
    transition: min-width .3s ease; 
}

.line-contact{
    height: 70%;
    transform: translateY(8px);
    width: 2px;
    background-color: aliceblue;
    margin-right: 6px;
}

.line-contact__linkedin{
    height: 70%;
    transform: translateY(8px);
    width: 2px;
    background-color: blue;
    margin-right: 6px;
}

.appear-info__contact{
    position: absolute;
    opacity: 1;
    transition: all 1s ease;
}

.disappear-info__contact{
    position: absolute;
    opacity: 0;
}

/*-------------------- BUTTON CV EFFECT DESKTOP -------------------- */

.button-container{
    overflow: hidden;
}

.button-container:hover.button-container a{
    top: 50px;
    transition: all .3s;
}

.button-container span{
    position: absolute;
    top: -50px;
    transition: all .2s ease;
}

.button-container:hover.button-container span{
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease;
}


/*-------------------- PROJECT SECTION -------------------- */


.shadow-card__project{
    box-shadow: 0px 3px 30px -10px black;
    border-radius: 20px;
}


.card-desktop::before{
    opacity: 0 !important;
}

.card:hover div{
    bottom: 0;
    background: #000a;
    transition: bottom .5s ease;
}

.card-actions{
    background: none !important;
}