body{
    background-color: rgb(240, 240, 240);
    /* background-color: rgb(45, 44, 45); */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active{
    background-color: black;
    transition: background .5s ease;
}

.left{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.right{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #eeeeff;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 44;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #0284c7;
    top: 54%;
    left: 16%;
    animation-duration: 14s;
    animation-delay: -21s;
    transform-origin: 17vw 18vh;
    box-shadow: 40vmin 0 5.307805331116949vmin currentColor;
}
.background span:nth-child(1) {
    color: #0284c7;
    top: 9%;
    left: 33%;
    animation-duration: 53s;
    animation-delay: -9s;
    transform-origin: 10vw -21vh;
    box-shadow: -40vmin 0 5.67421329940912vmin currentColor;
}
.background span:nth-child(2) {
    color: #0284c7;
    top: 92%;
    left: 39%;
    animation-duration: 18s;
    animation-delay: -28s;
    transform-origin: 7vw -5vh;
    box-shadow: 40vmin 0 5.501056465995103vmin currentColor;
}
.background span:nth-child(3) {
    color: #0284c7;
    top: 8%;
    left: 49%;
    animation-duration: 49s;
    animation-delay: -28s;
    transform-origin: -9vw -8vh;
    box-shadow: 40vmin 0 5.669952835049589vmin currentColor;
}
.background span:nth-child(4) {
    color: #0284c7;
    top: 45%;
    left: 29%;
    animation-duration: 63s;
    animation-delay: -60s;
    transform-origin: 14vw -5vh;
    box-shadow: -40vmin 0 5.489608151536867vmin currentColor;
}
.background span:nth-child(5) {
    color: #0284c7;
    top: 46%;
    left: 97%;
    animation-duration: 44s;
    animation-delay: -10s;
    transform-origin: 5vw -18vh;
    box-shadow: 40vmin 0 5.543341756911743vmin currentColor;
}
.background span:nth-child(6) {
    color: #0284c7;
    top: 40%;
    left: 3%;
    animation-duration: 44s;
    animation-delay: -10s;
    transform-origin: 15vw 3vh;
    box-shadow: -40vmin 0 5.700969614966407vmin currentColor;
}
.background span:nth-child(7) {
    color: #0284c7;
    top: 33%;
    left: 68%;
    animation-duration: 36s;
    animation-delay: -58s;
    transform-origin: 16vw -7vh;
    box-shadow: 40vmin 0 5.868177453338677vmin currentColor;
}
.background span:nth-child(8) {
    color: #0284c7;
    top: 57%;
    left: 78%;
    animation-duration: 33s;
    animation-delay: -33s;
    transform-origin: 11vw 21vh;
    box-shadow: -40vmin 0 5.611931061737698vmin currentColor;
}
.background span:nth-child(9) {
    color: #0284c7;
    top: 82%;
    left: 89%;
    animation-duration: 51s;
    animation-delay: -35s;
    transform-origin: 3vw 25vh;
    box-shadow: -40vmin 0 5.688340518094952vmin currentColor;
}
.background span:nth-child(10) {
    color: #0284c7;
    top: 13%;
    left: 38%;
    animation-duration: 55s;
    animation-delay: -52s;
    transform-origin: 20vw -10vh;
    box-shadow: -40vmin 0 5.472206571687944vmin currentColor;
}
.background span:nth-child(11) {
    color: #0284c7;
    top: 19%;
    left: 27%;
    animation-duration: 65s;
    animation-delay: -23s;
    transform-origin: 25vw 15vh;
    box-shadow: -40vmin 0 5.596965751811356vmin currentColor;
}
.background span:nth-child(12) {
    color: #0284c7;
    top: 100%;
    left: 64%;
    animation-duration: 30s;
    animation-delay: -57s;
    transform-origin: -11vw 13vh;
    box-shadow: -40vmin 0 5.332221843430875vmin currentColor;
}
.background span:nth-child(13) {
    color: #0284c7;
    top: 51%;
    left: 90%;
    animation-duration: 54s;
    animation-delay: -29s;
    transform-origin: -17vw -14vh;
    box-shadow: 40vmin 0 5.139373208213772vmin currentColor;
}
.background span:nth-child(14) {
    color: #0284c7;
    top: 32%;
    left: 77%;
    animation-duration: 18s;
    animation-delay: -24s;
    transform-origin: -20vw 19vh;
    box-shadow: -40vmin 0 5.064325432645852vmin currentColor;
}
.background span:nth-child(15) {
    color: #0284c7;
    top: 19%;
    left: 13%;
    animation-duration: 29s;
    animation-delay: -45s;
    transform-origin: -14vw 21vh;
    box-shadow: 40vmin 0 5.791527043608538vmin currentColor;
}
.background span:nth-child(16) {
    color: #0284c7;
    top: 46%;
    left: 7%;
    animation-duration: 37s;
    animation-delay: -36s;
    transform-origin: -14vw -11vh;
    box-shadow: 40vmin 0 5.362580672156369vmin currentColor;
}
.background span:nth-child(17) {
    color: #0284c7;
    top: 75%;
    left: 79%;
    animation-duration: 14s;
    animation-delay: -7s;
    transform-origin: 23vw 14vh;
    box-shadow: 40vmin 0 5.294552263919255vmin currentColor;
}
.background span:nth-child(18) {
    color: #0284c7;
    top: 32%;
    left: 48%;
    animation-duration: 40s;
    animation-delay: -45s;
    transform-origin: -21vw 16vh;
    box-shadow: -40vmin 0 5.642932224250608vmin currentColor;
}
.background span:nth-child(19) {
    color: #0284c7;
    top: 80%;
    left: 78%;
    animation-duration: 65s;
    animation-delay: -60s;
    transform-origin: -20vw 25vh;
    box-shadow: -40vmin 0 5.465125871849569vmin currentColor;
}

.card-styles{
    min-height: 100px;
}

html{
    scroll-behavior: smooth;
}

.scroll{
    overflow-y: hidden;
}

.height-contact{
    min-height: 1500px;
}

.background-icon{
    background: linear-gradient(45deg, #004, #a00);
}

/* TEXT SHADOW EFFECT*/

.text-shadow{
    text-shadow: 1px 4px 0px #00f0ff;
}

/* CONTACT SECTION */


.contact-items__container{
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    border-radius: 100px;
}

.contact-whatsapp{
    min-width: 100px;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    border-radius: 100px;
    background-color: #0a0;
    transition: min-width .3s ease;
    position: relative;
}

.contact-github{
    min-width: 100px;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    border-radius: 100px;
    background-color: black;
    transition: min-width .3s ease;
    position: relative;
}

.contact-linkedin{
    min-width: 100px;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    transition: min-width .3s ease;
    position: relative;
}

.contact-gmail{
    min-width: 100px;
    display: flex;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
    border-radius: 100px;
    background-color: red;
    transition: min-width .3s ease;
    position: relative;
}

.contact-active{
    min-width: 250px;
    transition: min-width .3s ease;
}

.contact-active__gmail{
    min-width: 310px;
    transition: min-width .3s ease; 
}

.line-contact{
    height: 70%;
    transform: translateY(8px);
    width: 2px;
    background-color: aliceblue;
    margin-right: 6px;
}

.line-contact__linkedin{
    height: 70%;
    transform: translateY(8px);
    width: 2px;
    background-color: blue;
    margin-right: 6px;
}

.aparece{
    position: absolute;
    opacity: 1;
    transition: all 1s ease;
}

.desaparece{
    position: absolute;
    opacity: 0;
}

/* PROJECT */

.shadow-card__project{
    box-shadow: 0px 3px 30px -10px black;
    border-radius: 20px;
}